<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
      .flex-carousel{
        height: 30rem;
      }
    </style>
    <title>Welcome Easy Cure!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">

      <a class="navbar-brand" href="#">Easy Cure !</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Me</a>
          </li>
        </ul>
      </div>

    </nav>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="bg-info flex-carousel d-flex align-items-center justify-content-center">
            <h1>Hello Qasim</h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="bg-warning flex-carousel d-flex align-items-center justify-content-center">
            <h1>How are you</h1>
          </div>
        </div>
        <div class="carousel-item">
          <div class="bg-danger flex-carousel d-flex align-items-center justify-content-center">
            <h1 class="text-center">I am here if you need anything.</h1>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="col-xl-10 col-12 mx-auto my-4">
      <div class="d-flex flex-wrap text-center h-100">
        <div class="col-md-4 col-12 bg-info" style="height: 22rem">
          Hi data 1
        </div>
        <div class="col-md-4 col-12 bg-light" style="height: 22rem">
          Hi data 2
        </div>
        <div class="col-md-4 col-12 bg-danger" style="height: 22rem">
          Hi data 3
        </div>
      </div>
    </div>

    <div class="container-fluid bg-dark py-4">
      <div class="col-xl-11 col-11 m-auto py-4">
        <p class="display-4 text-light">The pollutants that interfere with life force energy are emotions like anger, jealousy, feelings of unworthiness, depression, guilt, insecurity or resentment. It clears out these pollutants to grant  free energy flow.</p>
        <div class="col-2 border-bottom border-light"></div>
      </div>
    </div>

    <div class="col-xl-11 col-11 m-auto py-4">
      <div class="row py-4">
        <div class="col-md-3 col-12">
          <h2>I OFFER YOU</h2>
        </div>
        <div class="col-md-9 col-12 text-left">
          <p class="lead">a safe and sacred space supporting you on your Soul's journey.  The Sanctuary of Light is the umbrella name of Rowena's Teaching and Healing Practice. A place of peace, healing and learning. Our works alongside Dr Rosy Daniel in Bath, Somerset supporting clients with cancer and other illnesses as well as trauma, anxiety and stress. She specialises in advanced Emotional Freedom Techniques (EFT) and Emotional Freedom 'Light' Techniques. Rowena is an Expert Practitioner, AAMET International EFT Master Trainer of Trainers as well as being a Health Creation Coach & Mentor trained by Dr Rosy Daniel.</p>
        </div>
      </div>

    </div>

    <div class="container-fluid bg-light" style="height: 22rem">

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
