<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style media="screen">
    .fill {
      overflow: hidden
    }
    .fill img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
    }
    </style>
    <title>Welcome Easy Cure!</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-white">

        <a class="navbar-brand" href="#">Easy Cure !</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Me</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>

      </nav>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" style="height: 20rem" >
      <div class="carousel-item active">
        <div class="d-block w-100">
          <div class="fill d-flex justify-content-center align-items-center">
              <img src="https://images.unsplash.com/photo-1540574435530-6f8df0eaf3a3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f61202b562b90decd2319ab648db246&auto=format&fit=crop&w=634&q=80" alt="First slide">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-item active">
          <div class="d-block w-100">
            <div class="fill d-flex justify-content-center align-items-center">
                <img src="https://images.unsplash.com/photo-1540577293734-ae7e6e944cfb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86f6a97518aa78f763acbfbe72274b21&auto=format&fit=crop&w=2031&q=80" alt="First slide">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-item active">
          <div class="d-block w-100">
            <div class="fill d-flex justify-content-center align-items-center">
                <img src="https://images.unsplash.com/photo-1540574435530-6f8df0eaf3a3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f61202b562b90decd2319ab648db246&auto=format&fit=crop&w=634&q=80" alt="First slide">
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
